<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>result</key>
	<array>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img1.png</string>
			<key>itemName</key>
			<string>Kiwi</string>
			<key>cost</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img2.png</string>
			<key>itemName</key>
			<string>Orange</string>
			<key>cost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img3.png</string>
			<key>itemName</key>
			<string>Banana</string>
			<key>cost</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img4.png</string>
			<key>itemName</key>
			<string>Apple</string>
			<key>cost</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img5.png</string>
			<key>itemName</key>
			<string>Papaya</string>
			<key>cost</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img6.png</string>
			<key>itemName</key>
			<string>Green Apple</string>
			<key>cost</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img7.png</string>
			<key>itemName</key>
			<string>Grapes</string>
			<key>cost</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img8.png</string>
			<key>itemName</key>
			<string>PomeGrenate</string>
			<key>cost</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img9.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>img10.png</string>
			<key>itemName</key>
			<string>Tomato</string>
			<key>cost</key>
			<integer>35</integer>
		</dict>
	</array>
</dict>
</plist>
